.banner {
  background-color: $colourPalleteTwo;
  display: flex;
  text-align: center;
}

.banner-wrapper {
  display: flex;
  align-items: center;
  text-align: center;
  justify-content: center;

  color: #fff;
  font-weight: bold;

  button {
    border: none;
    background: no-repeat;
    cursor: pointer;
    color: #fff;
    font-weight: bold;
    font-size: 21px;
    margin-left: 10px;
    top: 2px;
    position: relative;
  }
}

.nav-wrapper {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.navbar {
  border-bottom: 1px solid #cdd8df;
  display: flex;
  justify-content: space-between;
}

.nav-right {
  p {
    display: contents;
  }
}

.navbar-menu {
  list-style: none;
  display: inline-flex;
  &__links {
    color: #000;
    margin-right: 42px;
    font-weight: 500;
    cursor: pointer;
  }
}

.navPlaceAd {
  background-color: $colourPalleteTwo;
  border: none;
  border-radius: 6px;
  color: #fff;
  font-size: 1rem;
  padding: 8px 15px;
  margin-left: 15px;
}

.icon-container {
  display: inline-block;
  position: relative;
  width: 20px;
  margin-left: 5px;
  top: -5px;
  font-size: 14px;
}

.chevron-icon {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  transition: transform 0.3s ease;
  height: 15px;
}

.chevron-icon.up {
  transform: translate(-50%, -50%) rotate(180deg);
}

.heart-icon {
  color: #fff;
  font-size: 13px;
  margin-left: 7px;
  display: none;
}

.chev-right {
  color: black;
  font-size: 4px;
  display: none;
}

.catergory-wrapper {
  display: flex;
  border-bottom: 3px solid $mainPurple;
  column-gap: 80px;
}

.catergory-menu {
  border-bottom: 3px solid $mainPurple;
  width: 250px;
  z-index: 99999;
  margin-top: 0;
  margin-bottom: 0px;
  padding-top: 30px;
  padding-bottom: 15px;

  &__links {
    list-style: none;
    font-weight: 600;
    padding-bottom: 28px;
    display: flex;
    justify-content: space-between;
    cursor: pointer;
    &:hover,
    &:active {
      text-decoration: underline;
    }
  }
}

.inner-menu {
  border-bottom: 3px solid $mainPurple;
  flex: 1;
  columns: 3;
  padding-top: 30px;
}

.column-item {
  padding: 0;
  margin-top: 0;
  margin-bottom: 18px;
}

.pull-right {
  display: flex;
}

.modal-overlay {
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background-color: rgba(0, 0, 0, 0.5);
  display: flex;
  justify-content: center;
  align-items: center;
}

.modal-content {
  background-color: white;
  border-radius: 4px;
  padding: 20px;
  max-width: 500px;
  width: 100%;
  height: calc(100% - 15%);
}

.modal-close {
  background-color: transparent;
  border: none;
}
